@model LocationVM

@{
    bool showEdit = ViewBag.ShowEdit as bool? ?? false;
    var model = Model.Location;
    ViewData.TemplateInfo.HtmlFieldPrefix = "Location";
}

<partial name="_TabsTop" model="Model.Tabs" />

<div class="tab-content h-100 p-0">
    <div class="loc-msg"></div>

    @foreach (var tab in Model.Tabs)
    {
        bool active = tab.Name == "Details";
        string key = tab.TabKey;

        <div id="@key" class="tab-pane fade h-100 @(active ? "show active loaded" : "")" role="tabpanel" aria-labelledby="@key-tab">

            @if (active)
            {
                <div id="loc-partial">
                    <div class="edit-div ps-2 pt-3 model">
                        <form asp-action="@ViewBag.Action" asp-controller="Locations" method="post" class="px-1 model" id="locForm" data-id="@Model.Location.Id" data-type="@Model.Location.LocationType">
                            @Html.AntiForgeryToken()

                            @if (Model.Location is Site site)
                            {
                                <partial name="_Site" model="site" />
                            }
                            else if (Model.Location is AreaLocation areaLoc)
                            {
                                <partial name="_AreaLocation" model="areaLoc" />
                            }
                            <partial name="_FormButtons" model="showEdit" />
                        </form>
                    </div>
                </div>
            }
        </div>
    }
</div>
