@using OptraxDAL.Models.Grow

@model PlantEvent

@{
    var locations = (IEnumerable<SelectListItem>)(ViewData["Locations"] ?? new());
}
<div class="col-xl-4 col-6">
    @Html.LabelFor(m => m.Date)
    @Html.EditorFor(m => m.Date, "", new { htmlAttributes = new { @class = $"form-control", @type = "Date" } })
    @Html.ValidationMessageFor(m => m.Date, "", new { htmlAttributes = new { @class = "val-msg" } })
</div>
<div class="col-xl-4 col-6">
    @Html.LabelFor(m => m.Transfer.OriginID)
    @Html.DropDownListFor(m => m.Transfer.OriginID, locations, "Select Origin Location", new { @class = $"form-control select2 attr", @required="required" })
    @*         <select id="Transfer.OriginID" name="Transfer.OriginID" class="form-control form-select select2">
            <option>Select Origin Type</option>
        </select> *@
    @Html.ValidationMessageFor(m => m.Transfer.OriginID, "", new { htmlAttributes = new { @class = "val-msg" } })
</div>
<div class="col-xl-4 col-6">
    @Html.LabelFor(m => m.Transfer.DestinationID)
    @Html.DropDownListFor(m => m.Transfer.DestinationID, locations, "Select Origin Location", new { @class = $"form-control select2 attr", @required = "required" })
    @Html.ValidationMessageFor(m => m.Transfer.DestinationID, "", new { htmlAttributes = new { @class = "val-msg" } })
</div>

