@using OptraxDAL.Models.Inventory

@{
    ViewData["Page"] = "Inventory";

    var tabs = new Dictionary<string, string>()
    {
        {"category", "Categories"},
        {"product", "Products"},
        {"equip", "Equipment"},
        {"loc", "Locations"},
        {"transfer", "Transfers" },
        {"adjust", "Adjustments"}
    }.ToList();
}

<div class="top-tabs box-shadow">
    <ul class="nav nav-tabs justify-content-center py-3" id="myTab" role="tablist">

        @for (int i = 0; i < tabs.Count; i++)
        {
            var tab = tabs[i];
            bool active = i == 0;
            string divider = i < tabs.Count - 1 ? "divider" : "";

            <li class="nav-item px-2 @(divider)" role="presentation">

                <button type="button" role="tab" id="@(tab.Key)-tab" class="nav-link px-5 @(active ? "active" : "")" data-bs-toggle="tab"
                data-bs-target="#@(tab.Key)"
                aria-controls="@(tab.Key)"
                aria-selected="@active">
                    @(tab.Value)
                </button>

            </li>
        }
    </ul>
</div>
<div class="tab-content p-0" id="growContent">
    <div class="tab-pane pe-0 fade show active" id="room" role="tabpanel" aria-labelledby="room-tab">
        <div class="growCards cust-scroll row m-0 d-flex col-12">
        </div>
    </div>
    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
        <div class="inner-tab">
            <button id="add-root-node">Add Root Category</button>
            <div id="cat-tree">
                @foreach (InventoryCategory category in ViewBag.Categories)
                {
                    @await Html.PartialAsync("../Shared/_CategoryTree", category)
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">...</div>
    <div class="tab-pane fade" id="equip" role="tabpanel" aria-labelledby="equip-tab">...</div>
    <div class="tab-pane fade" id="loc" role="tabpanel" aria-labelledby="loc-tab">...</div>
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">...</div>
    <div class="tab-pane fade" id="adjust" role="tabpanel" aria-labelledby="adjust-tab">...</div>
</div>

@section Scripts {
    <script src="/js/inventory.js"></script>
}