@model IEnumerable<OptraxDAL.Models.Grow.Room>



    @for (int i = 1; i < 12; i ++)
    {
        <div class="col-lg-4 col-md-6 col-12">
            <div class="w-100 p-3">
                <div class="card">
                    <div class="card-body">
                        <h4>Room @i</h4>
                        <p class="d-flex"><span>Crop 1</span></p>
                        <p class="d-flex ms-4"><span>Strain: </span>Blue Dream</p>
                        <p class="d-flex ms-4"><span>Plant Count: </span>24</p>
                        <p class="d-flex ms-4"><span>Phase: </span>Veg - Day 8 of 27</p>
                        <p class="d-flex ms-4"><span>Last Activitiy: </span>Water - 2/13/2025</p>
                        <hr />
                        <p class="d-flex"><span>Crop 2</span></p>
                        <p class="d-flex ms-4"><span>Strain: </span>Purple Haze</p>
                        <p class="d-flex ms-4"><span>Plant Count: </span>24</p>
                        <p class="d-flex ms-4"><span>Phase: </span>Flower - Day 19 of 21</p>
                        <p class="d-flex ms-4"><span>Last Activitiy: </span>Flush - 2/13/2025</p>
                    </div>

                </div>
            </div>
        </div>
    }

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
