@using OptraxDAL.Models.Grow

@{
    ViewData["Page"] = "Grow";

    List<Room> rooms = ViewBag.Rooms;
    Dictionary<string, string> tabs = new Dictionary<string, string>()
    {
        {"room", "Rooms"},
        {"crop", "Crops"},
        {"plant", "Plants"},
        {"strain", "Strains"},
        {"schedule", "Schedule"},
        {"activity", "Activity"},
    };
}

<div class="top-tabs pt-3">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

        @foreach(var tab in tabs)
        {
            bool active = tab.Key == "room";
            <li class="nav-item" role="presentation">
                <button class="nav-link @(active ? "active" : "")" id="@(tab.Key)-tab" data-bs-toggle="tab" data-bs-target="#@(tab.Key)" type="button" role="tab" aria-controls="@(tab.Key)" aria-selected="@active">@(tab.Value)</button>
            </li>
        }
    </ul>
</div>
<div class="tab-content p-0" id="growContent">
    <div class="tab-pane pe-0 fade show active" id="room" role="tabpanel" aria-labelledby="room-tab">
        <div class="growCards custScroll row m-0 d-flex col-12">
            @await Html.PartialAsync("_Rooms", rooms)
        </div>
    </div>
    <div class="tab-pane fade" id="plant" role="tabpanel" aria-labelledby="plant-tab">...</div>
    <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">...</div>
</div>

