@using OptraxDAL.Models.Inventory
@using OptraxDAL.Models

@model InventoryCategory

@{
    int level = ViewData["Level"] as int? ?? 0;
    var indent = $"padding-left: {level * 20}px;";
    var rowClass = Model.Parent == null ? "top-row" : "cat-row";
    int catID = Model.ID;

    List<InventoryItem> catItems = Model.Items;

    if (catItems.Count == 0)
    {
        InventoryItem newItem = new InventoryItem(Model) { };

        catItems.Add(newItem);
    }

    var uoms = Enum.GetValues(typeof(Enums.InventoryUOM));
    var stockTypes = Enum.GetValues(typeof(Enums.StockType));
}

<table id="items-table-@catID" class="table table-striped cat-table items-table f-sm">
    <thead class="items-head p-0">
        <tr class="f-xs">
            <th class="btn-cell">
                <div class="d-flex align-items-center">
                    <button class="add-item btn-clear f-xs ms-auto me-4" data-id="@catID"><span class="add-new-item f-md text-grn-dk pe-2">+</span>New Item</button>
                </div>
            </th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>SKU</th>
            <th>Default UOM</th>
            <th>Stock Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in catItems.OrderBy(i => i.Name).ToList())
        {
            int id = item.ID;
            bool isNew = id == 0;
            string newRow = isNew ? "new-row" : "";
            string trID = isNew ? $"item-new-{Model.ID}" : $"item-{id}";

            <tr id="@trID" class="item-row @newRow f-xs" data-itemid="@id" data-classtype="item">
                <td class="btn-cell vtd"></td>
                <td class="Name vtd">
                    <div class="attr-txt">@item.Name</div>
                    <input type="text" class="attr-edit form-control d-none" data-val="@item.Name" name="Name" value="@item.Name" required />
                </td>
                <td class="Description vtd">
                    <div class="attr-txt">@item.Description</div>
                    <textarea class="attr-edit form-control d-none" data-val="@item.Description" name="Description" required>@item.Description</textarea>
                </td>
                <td class="Manufacturer vtd">
                    <div class="attr-txt">@item.Manufacturer</div>
                    <input type="text" class="attr-edit form-control d-none" name="Manufacturer" data-val="@item.Manufacturer" value="@item.Manufacturer" />
                </td>
                <td class="SKU vtd">
                    <div class="attr-txt">@item.SKU</div>
                    <input type="text" class="attr-edit form-control d-none" name="SKU" data-val="@item.SKU" value="@item.SKU" />
                </td>
                <td class="DefaultUOM vtd">
                    <div class="attr-txt">@item.DefaultUOM</div>
                    <select class="attr-edit form-select d-none" name="DefaultUOM" data-val="@item.DefaultUOM">
                        @foreach (var uom in uoms)
                        {
                            <option value="@uom" @(uom.ToString() == item.DefaultUOM ? "selected" : "")>@uom</option>
                        }
                    </select>
                </td>
                <td class="StockType vtd">
                    <div class="attr-txt py-1 px-2">@item.StockType?.Substring(0, 1)</div>
                    <select class="attr-edit form-select d-none" name="StockType" data-val="@item.StockType" required>
                        <option value="">Select Default UOM</option>
                        @foreach (var type in stockTypes)
                        {
                            <option value="@type" @(type.ToString() == item.StockType ? "selected" : "")>@type</option>
                        }
                    </select>
                </td>
                <td colspan="7" data-trid="@trID" class="edit-td d-none">
                    <form class="item-form">
                        <div id="" class="pop-div row d-flex col-12">
                            <div class="popout">
                                <div class="pop-row row d-flex pb-2 col-12"></div>
                                <div class="save-row row d-flex py-2 w-100 d-none">
                                    <input type="hidden" class="new-attr" name="CategoryID" value="@catID" />
                                    <button type="submit" class="save-item save-btn m-auto">Save New Item</button></div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>