@using OptraxDAL.Models.Inventory
@using OptraxDAL.ViewModels
@model List<InventoryCategory>

@{
    List<TagVM> allTags = [];
    List<InventoryItem> items = ViewBag.Items;
    List<InventoryCategory> topCats = Model.Where(c => c.ParentID == null).OrderBy(c => c.Name).ToList();
    string tagHex = "var(--gray-md)";
}

<div class="p-md-3 p-0 pt-0">
    <div class="tag-list flex-wrap m-0  px-md-4 px-0">
        @foreach (var cat in topCats)
        {
            List<TagVM> tags = cat.GetChildTags();
            cat.ChildTags = tags;
            allTags.AddRange(tags);
            string bg = $"background:{cat.HexColor ?? tagHex}";

            <div class="tag-btns flex-fill mt-1">
                <div class="tag-top text-center px-2" style="@bg"><span class=""></span>@cat.Name</div>
                <div class="d-flex flex-wrap">
                    @foreach (var tag in tags)
                    {
                        <div class="d-flex col-6">
                            <button type="button" data-id="@tag.ID" class="tag-btn m-2" style="background:@(tag.Color ?? tagHex)"></button>
                            <span class="tag-txt">@tag.Name</span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="cat-table-div m-0 px-lg-3 px-2">
        <div class="cat-table-outer table-responsive">
            <table id="cat-table" class="cat-table table table-responsive top w-100">
                <thead>
                    <tr>
                        <th class="show-child">
                            <button class="toggle toggle-all">
                                <i class="bi bi-chevron-down show-i d-none"></i>
                                <i class="bi bi-chevron-up hide1 hide-i"></i>
                            </button>
                        </th>
                        <th class="cat-col"></th>
                        <th class="child-col"></th>
                        <th>Name</th>
                        @* <th>Description</th> *@
                        <th>Manufacturer</th>
                        <th>SKU</th>
                        <th>Default UOM</th>
                        <th>Stock Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in topCats)
                    {
                        string catBG = $"background-color:{cat.HexColor}";


                        foreach (var child in cat.Children)
                        {
                            List<int> childIDs = child.GetChildIDs();
                            childIDs.Add(child.ID);

                            List<InventoryItem> catItems = items.Where(i => childIDs.Contains(i.CategoryID)).OrderBy(i => i.Name).ToList();
                            string childBG = $"background-color:{child.HexColor}";
                            for (int i = 0; i < catItems.Count; i++)
                            {
                                var item = catItems[i];
                                string trID = $"item-{item.ID}";
                                string catClass = $"item-cat-{cat.Name.Replace(" ", "")}";
                                string childClass = $"item-child-{child.Name.Replace(" ", "")}";

                                <tr id="@trID" class="@catClass @childClass item-row f-xs">

                                    <td></td>
                                    <td>@cat.Name</td>
                                    <td>@child.Name</td>
                                    <td>
                                        @if (i == 0)
                                        {
                                            <input class="@cat.Name.Replace(" ", "")" type="hidden" value="@cat.HexColor" />
                                            <input class="@child.Name.Replace(" ", "")" type="hidden" value="@child.HexColor" />
                                        }
                                        <span class="attr-txt">@item.Name</span>
                                    </td>
                                    @*                                     <td class="Description vtd">
                                        <span class="attr-txt">@item.Description</span>
                                    </td> *@
                                    <td>
                                        <span class="attr-txt">@item.Manufacturer</span>
                                    </td>
                                    <td>
                                        <span class="attr-txt">@item.SKU</span>
                                    </td>
                                    <td>
                                        <span class="attr-txt">@item.DefaultUOM</span>
                                    </td>
                                    <td>
                                        <span class="attr-txt">@item.StockType</span>
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/inventory.js"></script>



