@using OptraxDAL.Models.Inventory
@using OptraxDAL.Models.Admin
@using OptraxMVC.Models

@model Address

@{
    DropdownsVM drops = (DropdownsVM)(ViewData["Dropdowns"] ?? new());
    var states = (IEnumerable<SelectListItem>)(ViewData["States"] ?? new List<SelectListItem>());
}
<div class="row col-12 d-flex w-100">
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.Address1)
        @Html.EditorFor(m => m.Address1, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.Address1, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.Address2)
        @Html.EditorFor(m => m.Address2, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.Address2, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.City, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.State)
        @Html.DropDownListFor(m => m.State, drops.StateSelects, "Select State", new { @class = $"form-control select2 attr" })
        @Html.ValidationMessageFor(m => m.State, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.ZipCode)
        @Html.EditorFor(m => m.ZipCode, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.ZipCode, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.ContactName)
        @Html.EditorFor(m => m.ContactName, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.ContactName, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.ContactPhone)
        @Html.EditorFor(m => m.ContactPhone, "", new { htmlAttributes = new { @class = $"form-control", @pattern = $"\\(\\d{3}\\)\\d{3}-\\d{4}", @placeholder = "(xxx)xxx-xxxx" } })
        @Html.ValidationMessageFor(m => m.ContactPhone, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-xl-4 col-6">
        @Html.LabelFor(m => m.ContactEmail)
        @Html.EditorFor(m => m.ContactEmail, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.ContactEmail, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
</div>

