@using OptraxDAL.Models.Grow

@model Crop


<input type="hidden" id="Crop_CurrentPhase" name="Crop.CurrentPhase" value="@Model.CurrentPhase" />

<div id="Crop" class="row col-12 w-100 d-flex">


    <div class="col-6">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.Name, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-6">
        @Html.LabelFor(m => m.BatchID)
        @Html.EditorFor(m => m.BatchID, "", new { htmlAttributes = new { @class = $"form-control" } })
        @Html.ValidationMessageFor(m => m.BatchID, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
</div>

<div id="cropDays" class="row col-12 w-100 d-flex">
    <div class="col-6">
        @Html.LabelFor(m => m.ExpectedVegDays)
        @Html.EditorFor(m => m.ExpectedVegDays, "", new { htmlAttributes = new { @class = $"form-control", @step = "1" } })
        @Html.ValidationMessageFor(m => m.ExpectedVegDays, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
    <div class="col-6">
        @Html.LabelFor(m => m.ExpectedFlowerDays)
        @Html.EditorFor(m => m.ExpectedFlowerDays, "", new { htmlAttributes = new { @class = $"form-control", @step = "1" } })
        @Html.ValidationMessageFor(m => m.ExpectedFlowerDays, "", new { htmlAttributes = new { @class = "val-msg" } })
    </div>
</div>
