@* @using OptraxDAL.Models.Map
@using OptraxMVC.Models

@model MapObject

@{
    FormVM formVM = ViewBag.FormVM;
    DropdownsVM drops = (DropdownsVM)(ViewData["Dropdowns"] ?? new());
}

<div id="edit-content" class="px-2">
        <div class="row col-12 w-100 pe-1 m-0">
            <div class="col-6">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name, "Name", new { htmlAttributes = new { @class = "form-control attr" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "val-msg" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.Color)
                <input type="text" id="Color" name="Color" class="color-picker form-control attr" value="@Model.Color" />
                @Html.ValidationMessageFor(m => m.Color, "", new { @class = "val-msg" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.FillColor)
                <input type="text" id="FillColor" name="FillColor" class="color-picker form-control attr" value="@Model.FillColor" />
                @Html.ValidationMessageFor(m => m.FillColor, "", new { @class = "val-msg" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.Weight)
                @Html.EditorFor(m => m.Weight, new { htmlAttributes = new { @class = "form-control attr", @step = "1" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "val-msg" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.Pattern)
                <select id="Pattern" name="Pattern" class="form-select attr">
                    <option value="dash" @(Model.Pattern == "dash" ? "selected" : "")>Dash</option>
                    <option value="solid" @(Model.Pattern == "solid" ? "selected" : "")>Solid</option>
                </select>
                @Html.ValidationMessageFor(m => m.Pattern, "", new { @class = "val-msg" })
            </div>
            <div class="col-6">
                @Html.LabelFor(m => m.DashArray)
                @Html.EditorFor(m => m.DashArray, new { htmlAttributes = new { @class = "form-control attr" } })
                @Html.ValidationMessageFor(m => m.DashArray, "", new { @class = "val-msg" })
            </div>

            <div class="col-12">
                <label>Details</label>
                <br />
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control attr w-100", @rows = "3" })
                @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "val-msg" })
            </div>
        </div>
    </div>
 *@