@using OptraxDAL.Models.Grow

@model TransferEvent

@{
    int i = (int?)ViewData["Index"] ?? 0;
    string eventType = Model.EventType;
}

<input type="hidden" name="PlantEvents[@i].ID" value="@Model.ID" />
<input type="hidden" name="PlantEvents[@i].Date" value="@Model.Date" />
<input type="hidden" name="PlantEvents[@i].EventType" value="@eventType" />
<input type="hidden" name="PlantEvents[@i].PlantID" value="@Model.PlantID" />
<input type="hidden" name="PlantEvents[@i].UserID" value="@Model.EncryptedID" />

@* <div class="col-xl-4 col-6">
    @Html.LabelFor(m => m.Date)
    @Html.EditorFor(m => m.Date, "", new { htmlAttributes = new { @class = $"form-control", @type = "Date" } })
    @Html.ValidationMessageFor(m => m.Date, "", new { htmlAttributes = new { @class = "val-msg" } })
</div> *@

@Html.EditorFor(m => m.Transfer, "InventoryTransfer", new ViewDataDictionary(ViewData))


