@using OptraxDAL.Models.Map
@using OptraxMVC.Models

@model MapLine

@{
    FormVM formVM = ViewBag.FormVM;
    DropdownsVM drops = (DropdownsVM)(ViewData["Dropdowns"] ?? new());
}

@using (Html.BeginForm(formVM.Action, "Map", FormMethod.Post, new { id = "modelForm", data_func = formVM.JsFunc, data_obj = "line" }))
{
    @Html.AntiForgeryToken()

    <input id="changes" type="hidden" name="Changes" />

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.LineGeometry, new { @class = "attr" })

    <div id="edit-content" class="px-2">
        <div class="col-12 d-flex w-100">
            <div class="col-4">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name, "Name", new { htmlAttributes = new { @class = "point-info attr form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "val-msg" })
            </div>
            <div class="col-4">
                @Html.LabelFor(m => m.Color)
                <input type="text" id="Color" name="Color" class="hex-pick attr form-control" data-coloris value="@Model.Color" />

                @* @Html.EditorFor(m => m.Color, new { htmlAttributes = new { @class = "hex-pick attr form-control" } }) *@
                @Html.ValidationMessageFor(m => m.Color, "", new { @class = "val-msg" })
            </div>
            <div class="col-4">
                @Html.LabelFor(m => m.Width)
                @Html.EditorFor(m => m.Width, new { htmlAttributes = new { @class = "attr form-control", @step="1"} })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "val-msg" })
            </div>
        </div>
        <div class="w-100">
            <label>Details</label>
            <br />
            @Html.TextAreaFor(m => m.Notes, new { @class = "attr form-control w-100", @rows = "3" })
            @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "val-msg" })
        </div>
    </div>
    <div class="popup-btns d-flex w-100 justify-content-center">
        <button type="submit" class="save-btn form-btn @(formVM.IsNew ? "" : "d-none")">Save New Line</button>
        <button type="submit" class="update-btn form-btn d-none">Save Changes</button>
    </div>
}
