@{
    string page = ViewData["Page"]?.ToString() ?? "";

    Dictionary<string, string> menuItems = new Dictionary<string, string>() {
        { "Grow", "flower1" },
        { "Inventory", "basket3" },
        { "Schedule-d", "calendar3" },
        { "Sales-d", "cash-stack" },
        { "Reports-d", "file-bar-graph" },
        { "Settings", "gear" },
    };
}

<div class="side-nav d-flex flex-md-column flex-row justify-content-between box-shadow px-2 pb-2">
    <div class="logo-div d-flex justify-content-center pt-lg-1 pt-md-1 pt-0">
        <a href="/" class="text-decoration-none">
            <img src="~/content/logo-grn.png" alt="Logo" class="logo d-lg-block d-none" />
            <img src="~/content/logo-only-grn.png" alt="Logo" class="logo-sm d-lg-none d-flex" />
        </a>
    </div>
    <hr class="d-md-block d-none text-tan">
    <ul class="nav nav-pills d-flex flex-md-column flex-row mb-auto">
        <li class="nav-item ms-0 me-0 mt-md-2 mt-0">
            <a href="/"
            class="nav-link d-flex @(page == "Dashboard" ? "active" : "")">
                <i class="nav-bi bi text-tan bi-grid-3x3 me-lg-3 me-0"></i>
                <span class="nav-text d-lg-block d-none pt-2">Dashboard</span>
            </a>
        </li>
        @foreach (var item in menuItems)
        {
            var key = item.Key.Replace("-d", "");
            bool disabled =  item.Key.Contains("-d");
            <li class="nav-item ms-0 me-0 mt-md-2 mt-0" @(item.Key.Contains("-d") ? "disabled" : "")>
                <a asp-controller="Tabs" asp-action="LoadTabs" asp-route-navarea="@key"
                   class="nav-link d-flex @(disabled ? "disabled-link" : "") @(page == key ? "active" : "")">
                    <i class="nav-bi bi text-tan bi-@(item.Value) me-lg-3 me-0"></i>
                    <span class="nav-text d-lg-block d-none pt-2">@key</span>                   
                </a>
            </li>
        }
        <li id="nav-hide-li">
            <div id="nav-hide" class="d-lg-flex d-none box-shadow">
                <div class="nav-hide-tab">
                    <i id="hide-nav" class="hide-bi bi bi-chevron-compact-left text-tan"></i>
                    <i id="show-nav" class="hide-bi bi bi-chevron-compact-right text-tan d-none"></i>
                </div>
            </div>
        </li>
    </ul>
    <ul class="nav bot-nav mb-0 ">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Logout" class="nav-link">
                <span class="logout-txt">Logout</span>
            </a>
        </li>
    </ul>
</div>

