@using OptraxMVC.Models.ViewModels
@model List<Tab>
@{
    int t = 0;
    var z = 200;
    string top = "";
    string left = "";
    string style = "";
    string isFirst = "";

    bool viewTabs = ViewData["IsView"] as bool? ?? false;
}

<ul class="nav nav-tabs " role="tablist">
    @for (int i = 0; i < Model.Count; i++)
    {
        var tab = Model[i];
        bool active = i == 0;
        string key = tab.TabKey;
        string divider = i < Model.Count - 1 ? "divider" : "";

        if (viewTabs)
        {
            isFirst = active ? "first" : "";
            left = i == 0 ? "" : "margin-left: -6px;";
            top = $"margin-top: {t}px";
            style = $"z-index: {z}; {left}";
        }
        
        <li class="nav-item px-lg-2 px-1 @isFirst @(divider)" style="@top" role="presentation">
            <button type="button"
                    role="tab"
                    id="@key-tab"
                    class="nav-link h-100 px-xl-4 px-md-3 px-1 @(active ? "active" : "")"
                    style="@style"
                    data-key="@key"
                    data-name="@tab.Name"
                    data-path="@tab.ViewPath"
                    data-bs-toggle="tab"
                    data-bs-target="#@key"
                    aria-controls="@key"
                    aria-selected="@active">
                @(tab.Name)
            </button>
        </li>
        
        z--;
        t++;
    }
</ul>
